<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
</head>
<body>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]); return null;
    }
   var base64Data = getQueryString("i");
    try{
        var user = JSON.parse(decodeURIComponent(atob(base64Data)));


        console.log(user);
        sessionStorage.setItem('user_id',user.user_id);
        sessionStorage.setItem('access_token',user.access_token);
        sessionStorage.setItem('user',JSON.stringify(user));
        sessionStorage.setItem('group_counts',user.group_counts);


        if(user.r == '/'){
            user.r = '/'+user.user_id;
        }
        location.href = user.r;

    }catch(e){
        console.log(e);
        alert('用户验证失败')
    }

    

</script>
</body>
</html>